*{
    padding: 0;
    margin: 0;
}
.cont{
    background-color: cornflowerblue;
    height: 50px;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
   
}
.cont>Link{
    outline: none;
     text-decoration: none;
     color: white;
}